{% extends 'templatefrontoffice/base.html.twig' %}


{% block active %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item{{ app.request.get('_route') == 'home' ? ' active' : '' }}">
                <a class="nav-link" href="/templatefrontoffice">HOME</a>
            </li>
            <li class="nav-item dropdown{{ 'annonce' in app.request.get('_route') ? ' active' : '' }}">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                    ANNONCE
                </a>
                <div class="dropdown-menu">
                    {% if app.user and 'ROLE_ENTREPRISE' not in app.user.roles %}
                        <a class="dropdown-item" href="/templatefrontoffice/annonce/myAnnoncements">
                            My Announcements
                        </a>
                    {% endif %}
                    <a class="dropdown-item" href="/templatefrontoffice/annonce/">Shop Announcement</a>
                </div>
            </li>
            <li class="nav-item dropdown{{ 'collect' in app.request.get('_route') ? ' active' : '' }}">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                    COLLECT
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ path('collect_list') }}">My Collects</a>
                    <a class="dropdown-item" href="/collect/collects">Collects</a>
                </div>
            </li>
            <li class="nav-item{{ 'forum' in app.request.get('_route') ? ' active' : '' }} active">
                <a class="nav-link" href="/templatefrontoffice/forum">FORUM</a>
            </li>
            <li class="nav-item{{ 'commande' in app.request.get('_route') ? ' active' : '' }}">
                <a class="nav-link" href="/commande/mes-commandes">COMMANDES</a>
            </li>
            <li class="nav-item dropdown {{ 'complaint' in app.request.get('_route') ? 'active' : '' }}">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                    COMPLAINT
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ path('complaint_list') }}">
                        My Complaints
                    </a>
                    <a class="dropdown-item" href="/complaint/create">
                        Create Complaint
                    </a>
                </div>
            </li>
            <li class="nav-item position-relative cart-item">
                <a class="nav-link p-0" href="{{ path('cart_view') }}">
                    <i class="fa fa-shopping-cart fs-5"></i>
                    <span class="cart-counter">{{ cart_count() }}</span>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}



























{% block body %}
    <div class="container mt-5">
        <h1>Create New Post in {{ categorie.name }}</h1>

        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.title) }}
            {{ form_widget(form.title) }}
            {{ form_errors(form.title) }}
        </div>

        <div class="form-group">
            {{ form_label(form.contenu) }}
            {{ form_widget(form.contenu) }}
            {{ form_errors(form.contenu) }}
        </div>

        <button type="submit" class="btn btn-primary">Create Post</button>
        <a href="{{ path('app_forum_posts', {'id': categorie.id}) }}"
           class="btn btn-secondary">Cancel</a>
        {{ form_end(form) }}
    </div>

    <style>
        .form-control {
            border: 2px solid #32CD32;
            border-radius: 10px;
        }
        .btn-primary {
            background: #32CD32;
            border-color: #228B22;
        }
        .btn-primary:hover {
            background: #228B22;
        }
    </style>
{% endblock %}