{% extends 'templatefrontoffice/base.html.twig' %}

{% block title %}Edit Announcement - LiveCycle{% endblock %}

{% block active %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" href="/templatefrontoffice">HOME</a>
            </li>
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    ANNONCE
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item active" href="{{ path('my_annoncements') }}">My Announcements</a>
                    <a class="dropdown-item" href="{{ path('app_shop') }}">Shop Announcement</a>
                </div>
            </li>
            {# ... other menu items ... #}
        </ul>
    </div>
{% endblock %}

{% block body %}
    <section class="edit-annonce-section" style="padding: 50px 0; background-color: #f8f9fa;">
        <div class="container">
            <div class="card shadow-sm" style="border-radius: 15px;">
                <div class="card-body">
                    <h2 class="mb-4" style="color: #214b27; font-weight: bold;">Edit Announcement</h2>

                    {{ form_start(form) }}
                    {{ include('templatefrontoffice/annonce/_form.html.twig') }}

                    <div class="form-row mt-4">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-success btn-block">
                                <i class="fa fa-save"></i> Update Announcement
                            </button>
                        </div>
                        <div class="col-md-6">
                            <a href="{{ path('my_annoncements') }}" class="btn btn-outline-secondary btn-block">
                                <i class="fa fa-times"></i> Cancel
                            </a>
                        </div>
                    </div>
                    {{ form_end(form) }}

                    {% if annonce.image %}
                        <div class="mt-4">
                            <form method="post" action="{{ path('annonce_delete', {'id': annonce.id}) }}"
                                  onsubmit="return confirm('Are you sure you want to delete this announcement?');">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ annonce.id) }}">
                                <button class="btn btn-danger">
                                    <i class="fa fa-trash"></i> Delete Announcement
                                </button>
                            </form>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}