{% extends 'base.html.twig' %}

{% block title %}Collect{% endblock %}

{% block body %}
    <h1>Collect</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ collect.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ collect.titre }}</td>
            </tr>
            <tr>
                <th>NomProduit</th>
                <td>{{ collect.nomProduit }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ collect.quantite }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ collect.lieu }}</td>
            </tr>
            <tr>
                <th>DateDebut</th>
                <td>{{ collect.dateDebut ? collect.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_collect_index') }}">back to list</a>

    <a href="{{ path('app_collect_edit', {'id': collect.id}) }}">edit</a>

    {{ include('collect/_delete_form.html.twig') }}
{% endblock %}
