{% extends 'templatefrontoffice/annonce.html.twig' %}



{% block header%}
<header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="/templatefrontoffice">
            <img src="frontoffice/images/logo_rounded.png" alt="LiveCycle Logo" style="height: 55px; width: 55px; margin-right: 20px;">
            <span>LiveCycle</span>
          </a>


          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  mx-auto ">
              <li class="nav-item">
                <a class="nav-link" href="/templatefrontoffice">HOME <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/templatefrontoffice/annonce">SHOP</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/templatefrontoffice/maincollect">COLLECT</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/templatefrontoffice/forum">FORUM</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/reclamation">RECLAMATION</a>
              </li>
            </ul>
            <div class="user_option">
              
              
              
              <a href="/templatebackoffice/authentication-login" class="order_online">
                LOG IN
              </a>
            </div>
          </div>
        </nav>
      </div>
    </header>

    

  </div>
{% endblock %}
 
{% block body %}
  <section id="hero" class="hero">

   <img src="{{ asset('front/img/reclamation_bg.png') }}" alt="" data-aos="fade-in">

      <div class="container">
        <div class="row">
          
        </div>
      </div>

</section>{# End Hero Section #}


<section id="contact" class="contact">
      <div class="container section-title" data-aos="fade-up">
        
        <div class="container section-title" data-aos="fade-up">
        <h2>Reclamation</h2>
        </div>
        <h5 data-aos="fade-up" data-aos-delay="100">Merci de fournir autant de détails que possible pour nous aider à traiter votre réclamation efficacement</h5>
      </div>

    <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row gy-4">

      <div class="col-lg-6">
        <h3 style="color:#28a745; text-align:center; font-size:20px">Vos Reclamations</h3>
        {% include 'reclamation/showAll.html.twig' %}
      </div>


      <div class="col-lg-6">
      {{ include('reclamation/form.html.twig', {'formAction': path('new')}) }}
      </div>
    </div>
    </div>
</section>
{% endblock %}

{% block footer %}

   <footer class="footer_section mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-col">
          <div class="footer_contact">
            <h4>
              Contact Us
            </h4>
            <div class="contact_link_box">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Location
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Call +01 1234567890
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  demo@gmail.com
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <div class="footer_detail">
            <a href="" class="footer-logo">
              LiveCycle
            </a>
            <p>
             the simple and effective solution to collect, sell and learn how to recycle your waste. We connect individuals and businesses to recycling stakeholders for a more sustainable future."
            </p>
            <div class="footer_social">
              <a href="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-pinterest" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <h4>
            Opening Hours
          </h4>
          <p>
            Everyday
          </p>
          <p>
            10.00 Am -10.00 Pm
          </p>
        </div>
      </div>
      <div class="footer-info">
        <p>
          &copy; <span id="displayYear"></span> All Rights Reserved 
          
        </p>
      </div>
    </div>
  </footer>

 
  <script src="{{asset('frontoffice/js/jquery-3.4.1.min.js')}}"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="{{asset('frontoffice/js/bootstrap.js')}}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
  <script src="{{asset('frontoffice/js/custom.js')}}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
  </script>
  
 



{% endblock %}