{{ form_start(form, { 'attr': { 'novalidate': 'novalidate' } }) }}

{% for field in form %}
    <div class="form-group">
        {{ form_label(field) }}
        {{ form_widget(field, { 'attr': { 'class': 'form-control' } }) }}
        
        {% if field.vars.errors|length > 0 %}
            <div class="text-danger">
                {{ form_errors(field) }}
            </div>
        {% endif %}
    </div>
{% endfor %}

<button class="btn btn-primary">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}
