
<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="{{asset('frontoffice/images/livecycle.jpg')}}" type="">

  <title> LiveCycle </title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{{asset('frontoffice/css/bootstrap.css')}}" />

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <!-- nice select  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
  <!-- font awesome style -->
  <link href="{{asset('frontoffice/css/font-awesome.min.css')}}" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="{{asset('frontoffice/css/style.css')}}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{{asset('frontoffice/css/responsive.css')}}" rel="stylesheet" />

<style>
.header_section {
  background-color: #489050 !important;
  width: 100vw; /* Full viewport width */
  position: relative; /* Ensure it stays in place */
  z-index: 1000; /* Keep it above other elements */
  padding: 15px 0;
}

.navbar {
  background-color: #489050 !important; /* Ensure navbar inside header is also green */
}
.bg-box img {
  display: none;
}
.hero_area {
  position: relative;
}

.bg-box {
  position: absolute;
  top: 100px; /* Push it down so it doesn't cover the header */
}

</style>




</head>

<body class="sub_page">

  <div class="hero_area">
    <div class="bg-box">
      <img src="{{asset('frontoffice/images/hero-bg.jpg')}}" alt="">
    </div>
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="/templatefrontoffice">
            <img src="{{asset('frontoffice/images/logo_rounded.png')}}" alt="LiveCycle Logo" style="height: 55px; width: 55px; margin-right: 20px;">
            <span>LiveCycle</span>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  mx-auto ">
              <li class="nav-item">
                <a class="nav-link" href="/templatefrontoffice">HOME </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/templatefrontoffice/annonce">SHOP</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/templatefrontoffice/maincollect">COLLECT</a>
              </li><span class="sr-only"></span>
              <li class="nav-item ">
                <a class="nav-link" href="/templatefrontoffice/forum"> FORUM </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/reclamation">RECLAMATION</a>
              </li>
            </ul>
            <div class="user_option">
              
              
             
              <a href="/templatebackoffice/authentication-login" class="order_online">
                LOG IN
              </a>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>

  <!-- div section -->
  
      <div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="d-flex gap-2">
                <input type="text" class="form-control" id="searchInput" placeholder="Search Collect" style="border-color: green; height: 40px;">
                <select class="form-select" id="categorySelect" style="height: 40px;">
                    <option value="">All Categories</option>
                    <option value="tech"> General Waste Collection</option>
                    <option value="science">Plastic Waste Collection</option>
                    <option value="sports">Paper & Cardboard Collection</option>
                    <option value="sports">Metal Waste Collection</option>
                    <option value="sports">Glass Waste Collection</option>
                    <option value="sports">Organic Waste Collection</option>
                </select>
                <button class="btn btn-primary" style="background-color:#489050" onclick="">Search</button>
            </div>
             <div class="d-flex justify-content-center mt-3 m-4">
                <a href="/" class="btn btn-success rounded-pill px-4 py-2" style="background-color: #E69C00; border: none;">
                    Create Collect
                </a>
            </div>
        </div>
    </div>
</div>
  <!-- end divsection -->

  <!-- footer section -->
  

  <footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-col">
          <div class="footer_contact">
            <h4>
              Contact Us
            </h4>
            <div class="contact_link_box">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Location
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Call +01 1234567890
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  demo@gmail.com
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <div class="footer_detail">
            <a href="" class="footer-logo">
              LiveCycle
            </a>
            <p>
             the simple and effective solution to collect, sell and learn how to recycle your waste. We connect individuals and businesses to recycling stakeholders for a more sustainable future."
            </p>
            <div class="footer_social">
              <a href="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-pinterest" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <h4>
            Opening Hours
          </h4>
          <p>
            Everyday
          </p>
          <p>
            10.00 Am -10.00 Pm
          </p>
        </div>
      </div>
      <div class="footer-info">
        <p>
          &copy; <span id="displayYear"></span> All Rights Reserved 
          
        </p>
      </div>
    </div>
  </footer>


  <!-- jQery -->
  <script src="{{asset('frontoffice/js/jquery-3.4.1.min.js')}}"></script>
  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <!-- bootstrap js -->
  <script src="{{asset('frontoffice/js/bootstrap.js')}}"></script>
  <!-- owl slider -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <!-- isotope js -->
  <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
  <!-- nice select -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
  <!-- custom js -->
  <script src="{{asset('frontoffice/js/custom.js')}}"></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
  </script>
  <!-- End Google Map -->

</body>

</html>