{% extends 'base.html.twig' %}

{% block title %}Create a new Post{% endblock %}

{% block body %}
    <h1>Create a new Post in "{{ categorie_forum.name }}"</h1>

    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.content) }}
        <button type="submit" class="btn btn-primary">Save</button>
    {{ form_end(form) }}

    <a href="{{ path('post_index', { 'id': categorie_forum.id }) }}">Back to the list of posts</a>
{% endblock %}
