<div class="container my-5">
    <div class="card border-0 shadow-sm p-4">
        <div class="card-body">
    <div class="container my-5">
        <h1 class="text-center text-secondary mb-4">  Create new Post</h1>

        <div class="card shadow-lg p-4">
            {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}

            <div class="mb-3">
                {{ form_label(form.title, 'Title', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.title, {'attr': {'class': 'form-control', 'placeholder': 'Title ....'}}) }}
                {{ form_errors(form.title) }}
            </div>

            <div class="mb-3">
                {{ form_label(form.contenu, 'Content', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.contenu, {'attr': {'class': 'form-control', 'rows': '5', 'placeholder': 'Content ...'}}) }}
                {{ form_errors(form.contenu) }}
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    {{ form_label(form.createdAt, 'Creation Date', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.createdAt, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.createdAt) }}
                </div>
                <div class="col-md-6 mb-3">
                    {{ form_label(form.updatedAt, 'Update Date', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.updatedAt, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.updatedAt) }}
                </div>
            </div>


            <div class="mb-3">
                {{ form_label(form.user, 'User', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.user, {'attr': {'class': 'form-select'}}) }}
                {{ form_errors(form.user) }}
            </div>

            <div class="text-center">
                <button class="btn btn-outline-dark btn-lg rounded-pill px-4 py-2">
                    <i class="fas fa-save"></i> {{ button_label|default('Save') }}
                </button>
            </div>
    <a href="{{ path('app_forum_show',{'id': id}) }}">back to list</a>

            {{ form_end(form) }}
        </div>
    </div>
</div>
