{% extends 'templatefrontoffice/base.html.twig' %}

{% block title %}Collect index{% endblock %}


{% block active %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" href="/templatefrontoffice">HOME</a>
            </li>
            <li class="nav-item dropdown {{ 'annonce' in app.request.get('_route') ? 'active' : '' }}">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                    ANNONCE
                </a>
                <div class="dropdown-menu">
                    {% if app.user and 'ROLE_ENTREPRISE' not in app.user.roles %}
                        <a class="dropdown-item" href="/templatefrontoffice/annonce/myAnnoncements">
                            My Announcements
                        </a>
                    {% endif %}
                    <a class="dropdown-item" href="/templatefrontoffice/annonce/">Shop Announcement</a>
                </div>
            </li>
            <li class="nav-item active"><a class="nav-link" href="/templatefrontoffice/collect">COLLECT</a></li>
            <li class="nav-item"><a class="nav-link" href="/templatefrontoffice/forum">FORUM</a></li>
            <li class="nav-item"><a class="nav-link" href="/templatefrontoffice/reclamation">COMMANDES</a></li>
            <li class="nav-item"><a class="nav-link" href="/templatefrontoffice/reclamation">RECLAMATION</a></li>

            {# Cart icon inside collapse #}
            <li class="nav-item ms-3 me-4 mr-5 position-relative">
                <a class="nav-link text-white p-0" href="/cart">
                    <i class="fa fa-shopping-cart fs-5"></i>
                    <span class="cart-counter">{{ cart_count() }}</span>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}



{% block body %}
    <h1>Collect index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>NomProduit</th>
                <th>Quantite</th>
                <th>Lieu</th>
                <th>DateDebut</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for collect in collects %}
            <tr>
                <td>{{ collect.id }}</td>
                <td>{{ collect.titre }}</td>
                <td>{{ collect.nomProduit }}</td>
                <td>{{ collect.quantite }}</td>
                <td>{{ collect.lieu }}</td>
                <td>{{ collect.dateDebut ? collect.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_collect_show', {'id': collect.id}) }}">show</a>
                    <a href="{{ path('app_collect_edit', {'id': collect.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_collect_new') }}">Create new</a>
{% endblock %}
