{% extends 'base.html.twig' %}






{% block header %}
  <!-- Header Section -->
  <header class="header_section">
    <div class="container">
      <nav class="navbar navbar-expand-lg custom_nav-container">
        <a class="navbar-brand" href="/templatefrontoffice">
          <img src="{{asset('frontoffice/images/logo_rounded.png')}}" alt="LiveCycle Logo" style="height: 55px; width: 55px; margin-right: 20px;">
          <span>LiveCycle</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class=""></span>
        </button>
        {% block active %}
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link" href="/templatefrontoffice">HOME </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/templatefrontoffice/annonce">SHOP</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/templatefrontoffice/collect">COLLECT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/templatefrontoffice/forum">FORUM</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/templatefrontoffice/forum">RECLAMATION</a>
            </li>
          </ul>
        </div>

        {% endblock %}
        
        <div class="user_option">
            <a href="/login" class="order_online">
              LOG IN
            </a>
          </div>
      </nav>
    </div>
  </header>
  {% endblock %}









{% block body %}
  <div class="container mt-5">
  <div class="d-flex justify-content-between">
    <h1>All Collections</h1>
    <div>
      <input placeholder="Search" id="searchText"/>
      <button id="jqueryButton">Search</button>
    </div>
    <a href="{{ path('app_collect_new') }}" class="btn btn-success">
                Schedule New Collection
    </a>
  </div>

    <div class="row m-2" id="container">
      {% for collect in collects %}
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Titre: {{ collect.titre }}</h5>
              <p class="card-text">Nom: {{ collect.nomProduit }}</p>
              <p class="card-text">Categorie: {{ collect.categorieCollect.nom }}</p>
              <p class="card-text">Lieu: {{ collect.lieu }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
{% block footer %}
{{ parent() }}
  <script>
  $('#jqueryButton').on('click', function() {
    const value = $('#searchText').val();
    
    $.ajax({
        url: 'search?query='+value,
        method: 'GET', 
        dataType: 'json',
        success: function(data) {
            console.log(typeof data);

            let resultsContainer = $('#container');
                resultsContainer.empty();

                if (data.length === 0) {
                    resultsContainer.html('<p>No results found.</p>');
                    return;
                }

                let list = "";
                data.forEach(item => {
                    list += `<div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Titre: ${item.titre}</h5>
              <p class="card-text">Nom: ${item.nomProduit}</p>
              <p class="card-text">Categorie: ${item.categorieCollect.nom}</p>
              <p class="card-text">Lieu: ${item.lieu}</p>
            </div>
          </div>
        </div>`;
                });
                resultsContainer.html(list);
        },
        error: function(error) {
            console.error('Error:', error);
            alert('AJAX request failed!');
        }
    });
});
  </script>
{% endblock %}

{% block javascripts %}

{% endblock %}