<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>LiveCycle</title>
  <link rel="icon" type="image/png" href="{{asset('backoffice/images/logos/livecycle.jpg')}}" />
  <link rel="stylesheet" href="{{asset('backoffice/css/styles.min.css')}}" />



  <style>
  .page-wrapper {
    background: url("{{ asset('backoffice/images/backgrounds/background-login-register.jpg') }}") no-repeat center center;
    background-size: cover;
  }


   /* Change the checkbox color when checked */
  .form-check-input:checked {
    background-color: #58af3d !important; /* Green */
    border-color: #58af3d !important; /* Green */

  }
  
  .Green-text {
  color: #58af3d !important;
  font-weight:bold ;
  font-size: 15px; /* Increase font size */ /* Optional: Add spacing between letters for clarity *//* Apply yellow color to text */

}
.black-text{
color:black

}

</style>



</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div
      class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="card mb-0">
              <div class="card-body">
                <a href="/templatefrontoffice/" class="text-nowrap logo-img text-center d-block py-3 w-100">
                  <img src="{{asset('backoffice/images/logos/livecycle.jpg')}}" width="180" alt="LiveCycle_LOGO">
                </a>
                <p class="text-center black-text">Login now!</p>
                <form>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Username</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                  <div class="mb-4">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                  </div>
                  <div class="d-flex align-items-center justify-content-between mb-4">
                    <div class="form-check">
                      <input class="form-check-input primary" type="checkbox" value="" id="flexCheckChecked" checked>
                      <label class="form-check-label text-dark" for="flexCheckChecked">
                        Remeber this Device
                      </label>
                    </div>
                    <a class="text-primary fw-bold Green-text" href="">Forgot Password ?</a>
                  </div>
                  <a href="" class="btn w-100 py-8 fs-4 mb-4 rounded-2" style="background-color: #ffbe33; color:black;">SIGN IN</a>
                  <div class="d-flex align-items-center justify-content-center">
                    <p class="fs-4 mb-0 fw-bold black-text">New to LiveCycle?</p>
                    <a class="text-primary fw-bold ms-2 Green-text" href="/templatebackoffice/authentication-register">Create an account</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{{asset('backoffice/libs/jquery/dist/jquery.min.js')}}"></script>
  <script src="{{asset('backoffice/libs/bootstrap/dist/js/bootstrap.bundle.min.js')}}"></script>
</body>

</html>