
{% extends 'templatebackoffice/index.html.twig' %}


{% block title%}UserManagement{% endblock %}


{% block active %}

            <li class="sidebar-item " >
              <a class="sidebar-link" href="/templatebackoffice"  aria-expanded="false" >
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Home</span>
              </a>
            </li>
            
            <li class="sidebar-item">
              <a class="sidebar-link" href="/templatebackoffice/user-management"  style="background-color: #379226" aria-expanded="false">
                <span>
                  <i class="ti ti-user"></i>
                </span>
                <span class="hide-menu">User Management</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/templatebackoffice/shop-management"  aria-expanded="false">
                <span>
                  <i class="ti ti-recycle "></i>
                </span>
                <span class="hide-menu">Shop Management</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/templatebackoffice/collect-management"  aria-expanded="false">
                <span>
                  <i class="ti ti-map-pin"></i>
                </span>
                <span class="hide-menu">Collect Management</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/templatebackoffice/forum-management"  aria-expanded="false">
                <span>
                  <i class="ti ti-message-circle"></i>
                </span>
                <span class="hide-menu">Forum Management</span>
              </a>
            </li>

                                    {% endblock %}






{% block body %}


<div class="container">
        <h1>User Management</h1>

        <!-- Add User Button -->
        <div class="mb-3">
            <a href="{{ path('admin_user_management') }}" class="btn btn-success mt-5">
                <i class="fas fa-plus"></i> Add User
            </a>
        </div>

        <!-- User List -->
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>

                        <th>image</th>
                        <th>Email</th>
                        <th>Roles</th>
                        <th>adresse</th>
                        <th>telephone</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>

                            <td>

                            {% if user.image %}

                            <img src="{{asset('frontoffice/images/'~ user.image)}}" alt="User Image" class="rounded-circle" style="width:50px; height: 50px;">

                            {% else %}

                            <img src="{{asset('frontoffice/images/default.jpg')}}" alt="User Image" class="rounded-circle" style="width:50px; height: 50px;">
                            
         
                            {% endif %}

                            </td>




                            <td>{{ user.email }}</td>



                            <td>{{ user.roles|join(', ') }}</td>



                            <td>{{ user.adresse}}</td>




                            <td>{{ user.telephone}}</td>
                            <td>
                                <!-- Edit Button -->
                                <a href="{{ path('admin_edit_user', {id: user.id}) }}" class="btn btn-primary btn-sm">
                                    <i class="fas fa-edit"></i> Edit
                                </a>

                                <!-- Delete Button -->
                                <form action="{{ path('admin_user_management', {id: user.id}) }}" method="post" class="d-inline">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this user?')">
                                        <i class="fas fa-trash"></i> Delete
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>





{% endblock %}

