<br><br>
<div class="container mt-5">
    <div class="form-container">
        <h1 class="text-center mb-4">New Order</h1>
        <div class="form-wrapper">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            
            <div class="form-group">
                {{ form_label(form.clientAdresse) }}
                {{ form_widget(form.clientAdresse, {'attr': {'class': 'form-control'}}) }}
            </div>
            
            <div class="form-group">
                {{ form_label(form.etatCommande) }}
                {{ form_widget(form.etatCommande, {'attr': {'class': 'form-control'}}) }}
            </div>
            
           <!-- <div class="form-group">
                {{ form_label(form.instructionSpeciale) }}
                {{ form_widget(form.instructionSpeciale, {'attr': {'class': 'form-control'}}) }}
            </div>--!>
            
            <button type="submit" class="btn btn-primary mt-3">{{ button_label|default('Commander') }}</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>

