

{% extends 'templatebackoffice/index.html.twig' %}

{% block title %}


CategorieForum index{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('styles.css') }}">
{% endblock %}

{% block body %}
<br><br><br><br><br> 

    <h1>CategorieForum index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie_forum in categorie_forums %}
            <tr>
                <td>{{ categorie_forum.id }}</td>
                <td>{{ categorie_forum.name }}</td>
                <td>{{ categorie_forum.description }}</td>
                <td>
                    <a href="{{ path('app_category_forum_show', {'id': categorie_forum.id}) }}" class="btn btn-success">Show</a>
                    <a href="{{ path('app_category_forum_edit', {'id': categorie_forum.id}) }}" class="btn btn-warning">Edit</a>
                <form method="post" action="{{ path('app_category_forum_delete', {'id': categorie_forum.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette catégorie ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorie_forum.id) }}"><br>
    <button type="submit" class="btn btn-primary">Supprimer</button>
</form>


                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" class="text-center">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_category_forum_new') }}" class="btn btn-primary">Create new</a>
{% endblock %}
