{% extends 'templatefrontoffice/ayoub/cart.html.twig' %}

{% block title %}Cart{% endblock %}

{% block body %}
    {% if annonces|length > 0 %}
    <div class='p-4'>
        <h1>Votre Panier</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Annonce</th>
                    <th>Quantité</th>
                    <th>Prix</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for annonce in annonces %}
                    <tr>
                        <td>{{ annonce.titre }}</td>
                        <td>
                            <form action="{{ path('update_cart', {'id': annonce.id}) }}" method="post">
                                <button type="submit" class="btn btn-sm btn-secondary" name="action" value="decrease">-</button>
                                <span>{{ cart[annonce.id] }}</span>
                                <button type="submit" class="btn btn-sm btn-primary" name="action" value="increase">+</button>
                            </form>
                        </td>
                        <td>{{ annonce.prix }} TND</td>
                        <td>{{ annonce.prix * cart[annonce.id] }} TND</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="3" class="text-end"><strong>Total:</strong></td>
                    <td><strong>{{ totalAmount }} TND</strong></td>
                    <form action="{{ path('clear_cart') }}" method="post">
                        <button type="submit" class="btn btn-danger">Clear Cart</button>
                    </form>
                </tr>
            </tbody>
        </table>
       <!-- <form action="{{ path('app_annonce_index') }}" method="post">
            <button type="submit" class="btn btn-achats">Continuer mes achats</button>
        </form>--!>
        <form action="{{ path('app_commande_new') }}" method="post">
            <button type="submit" class="btn btn-success">Commander</button>
        </form>
    </div>
    {% else %}
        <p>Your cart is empty.</p>
    {% endif %}
{% endblock %}